.button{
    font-family: 'MuseoModerno', sans-serif;
    width: 153px;
    height: 32px;
    background: $mc;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 5px;
    &__header{
        margin-top: 65px;
        width: 303px;
        height: 54px;
        font-size: 16px;
    }
    &_consult{
        width: 100%;
        height: 58px;
        font-size: 16px;
        margin: 0;
    }
}