*{
    font-family: 'Gilroy', sans-serif;
}
.container{
    max-width: 940px;
    margin: 0 auto;
    padding: 0;
}
:link{
    text-decoration: none;
}

@import 'blocks/header';
@import 'blocks/about';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/footer';