@import url('fonts.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.first{
    background: url('../images/main_bg.png')center center/cover no-repeat;
    height: 800px;
    padding-top: 38px;
    padding-bottom: 61px;
}
.container{
    width: 1140px;
    margin: 0 auto;
    position: relative;
}
.logo .logo_png{
    display: block;
    margin: 0 auto;
}
.logo .logo_text{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 9.5px;
}
.big_text .big_text_link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    /* or 100% */


    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-top: 20.5px;
}
h1{
    margin-top: 53px;
}
.important_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
}
 h2.important_text{
     margin-top: 20.5px;
 }
 .description{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 22.5px;
 }
 .description span{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;    
    color: #F9BF3B;
 }

 .btn{
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-family: Roboto Condensed;

    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 24px;



    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    display: block;
    margin: 0 auto;
    margin-top: 72px;
    cursor: pointer;
 }
 
 .more .more_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
    text-align: center;
    margin-top: 70.5px;
 }
 .more .more_img{
     display: block;
     margin: 0 auto;
     margin-top: 4.5px;
 }
.second{
    min-height: 607px;
    background-color: #EFEFEF;
    padding-top: 84px;
    padding-bottom: 75px;
}
 .second_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;


    text-align: center;
    text-transform: uppercase;
    
    color: #252525;
 }
.bottom_line{
    margin-top: 18px;
}
.bottom_line{
    width: 220px;
    height: 7px;
    margin: 0 auto;

    background: #F9BF3B;
    margin-top: 18px;

}

 .free{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 20px;
    /* identical to box height, or 87% */
    

    text-align: center;
    
    color: #4A4A4A;
    margin-top: 18.5px;
 }

.wrapper{
    margin: 0 auto;
    margin-top: 45.5px;
    display: flex;
    justify-content: space-between;

}

.item{
    width: 342px;

    


 }
 .item .item_text{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #4A4A4A;
 }
 .item .item_text{
     margin-top: 26px;
 }

 .third{
     min-height: 548px;
     padding: 109px 0 74px;
 
 }
 .third_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #299CBD;
    margin-left: 389px;
 }
.third_text{
    margin-top: 13px;
    margin-left: 389px;
    height: 323px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .third_text p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
 }
 .third_text p span{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}
.third_img{
    position: absolute;
    top: -61px;
    left: -240px;
    z-index: -1;
}
.fourth{
    min-height: 447px;
   
    background: url('../images/second_bg.png') center center/cover no-repeat;
    padding-top: 86px;
    padding-bottom: 68px;
}
.fourth_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    /* or 100% */


    text-align: center;
    text-transform: uppercase;

    color: #EFEFEF;
}
.fourth_line{
    width: 217px;
    height: 4px;
    background-color: #F9BF3B;
    margin: 0 auto;
    margin-top: 20px;
}
.fourth_wrapper{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.fourth_item{
    width: 234px;
}
.circle{
    width: 118px;
    height: 118px;
    border-radius: 100%;
    margin: 0 auto;
    background: #B4E2FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fourth_item_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
    line-height: 20px;


    text-align: center;
    
    color: #EFEFEF;
    margin-top: 24.5px;
    
}
.five{
    min-height: 631px;
    background: #EFEFEF;
    padding: 88px 0;
}
.gift{
    display: block;
    margin: 0 auto;
}
.gift_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 43px;
    /* or 143% */



    text-align: center;

    color: #252525;
    margin-top: 45px;
}
.gift_btn{
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 51px;


    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height, or 114% */
    

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: -1px -1px 0px rgba(155, 55, 55, 0.22);
    
}
.six{
    height: 512px;
    padding-top: 89px;
    padding-bottom: 52px;
}
.first_img{
    display: block;
    margin: 0 auto;
}
.six_text_1{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 100% */



    text-transform: uppercase;

    color: #252525;
    margin-top: 11px;
}
.six_text_2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    /* or 100% */


    text-align: center;
    text-transform: uppercase;

    color: #299CBD;
    margin-top: 30px;
}
.six_text_3{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 20px;
    /* identical to box height, or 87% */


    text-align: center;

    color: #4A4A4A;
    margin-top: 24.5px;
}
.footer{
    min-height: 169px;
    background: #1A1A1A;
    padding: 57px 0 69px;
}



.footer_text{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    /* or 140% */


    text-align: center;

    color: #888888;
}

.footer_text .support, .conf{
    
    text-decoration: underline;
    
}
.support, .conf:visited{
    color: #888888;
}